# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  push:
  pull_request:
  schedule:
  - cron:  '0 0 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  validate:
      runs-on: "ubuntu-latest"
      steps:
          - uses: "actions/checkout@v2"
          - uses: "home-assistant/actions/hassfest@master"
  build:
    runs-on: ubuntu-latest
    steps:
      - name: HACS Action
        uses: hacs/action@22.5.0
        with:
          category: integration
          repository: homeassistant-WebUntis
